
*.dwlt
*.log
*.digestcache
*.traceevents
Basketball/Library/Bee/fullprofile.json
*.traceevents
*.json
*.digestcache
*.log
Basketball/Temp/FSTimeGet-a79a6c275569adb4099a29e35af6092f
Basketball/Temp/UnityLockfile
Basketball/Temp/workerlic
Basketball/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Basketball/Logs/shadercompiler-AssetImportWorker0.log
Basketball/Library/ArtifactDB
Basketball/Library/Artifacts/61/613cc2a7bd6fae8235c8e9d8eed00124
Basketball/Library/Artifacts/8a/8a8fcc09e82b832eebd451c6e04ae30a
Basketball/Library/Artifacts/ad/ad33238afbf96d9e8f9b774b2238a1a2
Basketball/Library/Artifacts/ce/ce465746f70483ffceaf759bc06e4f52
Basketball/Library/Artifacts/ce/ceadf89cf26a47350f0db434cb214d94
Basketball/Library/Bee/backend_profiler0.traceevents
Basketball/Library/Bee/fullprofile.json
Basketball/Library/Bee/tundra.digestcache
Basketball/Library/Bee/tundra.log.json
Basketball/Library/Bee/TundraBuildState.state
