
*.dwlt
*.log
*.digestcache
*.traceevents
Basketball/Library/Bee/fullprofile.json
*.traceevents
*.json
*.digestcache
*.log
Basketball/Temp/FSTimeGet-a79a6c275569adb4099a29e35af6092f
Basketball/Temp/UnityLockfile
Basketball/Temp/workerlic
Basketball/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Basketball/Logs/shadercompiler-AssetImportWorker0.log
Basketball/Library/ArtifactDB
Basketball/Library/Artifacts/61/613cc2a7bd6fae8235c8e9d8eed00124
Basketball/Library/Artifacts/8a/8a8fcc09e82b832eebd451c6e04ae30a
Basketball/Library/Artifacts/ad/ad33238afbf96d9e8f9b774b2238a1a2
Basketball/Library/Artifacts/ce/ce465746f70483ffceaf759bc06e4f52
Basketball/Library/Artifacts/ce/ceadf89cf26a47350f0db434cb214d94
Basketball/Library/Bee/backend_profiler0.traceevents
Basketball/Library/Bee/fullprofile.json
Basketball/Library/Bee/tundra.digestcache
Basketball/Library/Bee/tundra.log.json
Basketball/Library/Bee/TundraBuildState.state
Basketball/Library/ArtifactDB
Basketball/Library/Bee/fullprofile.json
Basketball/Library/SourceAssetDB
Basketball/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Basketball/.vs/Basketball/FileContentIndex/0f032cac-6ea3-4a08-a807-f58d7cfc65b1.vsidx
Basketball/.vs/Basketball/FileContentIndex/1d1a0083-4822-4573-ba67-9a69415e7be6.vsidx
Basketball/.vs/Basketball/FileContentIndex/0f032cac-6ea3-4a08-a807-f58d7cfc65b1.vsidx
Basketball/.vs/Basketball/v17/.suo
Basketball/Library/ArtifactDB
Basketball/Library/Artifacts/09/0920524dcf84f6f4bc54f40ee306dd48
Basketball/Library/Artifacts/0d/0d59b93840c76c7f21a1375afde77463
Basketball/Library/Artifacts/2c/2c35800784be1c29465800ecf1e639de
Basketball/Library/Artifacts/4a/4a016ab4627c802dca2042d10216698b
Basketball/UserSettings/Layouts/default-2021.dwlt
Basketball/Temp/FSTimeGet-e6251f37bc11ca74ca3dc8a9568b416e
Basketball/Temp/FSTimeGet-db1bd61b8f8569947b681b22fd6e4769
Basketball/Temp/FSTimeGet-ce4a6ff4590691f4e82c4e2d93333487
Basketball/Temp/FSTimeGet-b207e17bc5c59f04db82e7cbe0c6584c
Basketball/Temp/FSTimeGet-8e467c20d16671d44aca0a1ccbc5058d
Basketball/Temp/FSTimeGet-2c46a56794e829c46b6304f36ec931ac
Basketball/Temp/__Backupscenes/0.backup
Basketball/Library/Artifacts/b7/b7a73aecb378968ac65e0769f33548c9
Basketball/Library/Artifacts/b5/b5112fa61576d3b492aa6034702c516b
Basketball/Library/Artifacts/93/93e198f42c6d3b4c27efff3df1061669
Basketball/Library/Artifacts/8e/8e69ff5d1755748710c19ab65048c0e0
Basketball/Library/Artifacts/4f/4f71275d7ae0f327693be7523a631d19
Basketball/Library/Artifacts/3f/3f45cc2076b926b8dddc2e1125750ad2
Basketball/Library/Artifacts/0d/0d59b93840c76c7f21a1375afde77463
Basketball/Library/Artifacts/09/0920524dcf84f6f4bc54f40ee306dd48
Basketball/.vs/Basketball/FileContentIndex/0f032cac-6ea3-4a08-a807-f58d7cfc65b1.vsidx
